.git
.github
.gitignore

.next
node_modules
coverage

playwright-report
test-results
blob-report

.env
.env.*
!.env.example
!.env.test.example
!.env.e2e.example

.history
.vscode
.idea

*.log
npm-debug.log*
pnpm-debug.log*

Dockerfile*
compose*.yaml

README.md

src/generated/prisma
