NODE_ENV=production

DATABASE_URL="postgresql://app_runtime_user:replace_with_runtime_password@db.example.internal:5432/task_management"

MIGRATION_DATABASE_URL="postgresql://migration_user:replace_with_migration_password@db.example.internal:5432/task_management"

AUTH_SECRET="replace-with-a-production-random-secret-at-least-32-characters"
AUTH_TRUST_HOST=true
